-
  const formTitle = mode === `add` ? `Новая публикация` : `Редактировать`;
  const todayDate = new Date().toISOString().slice(0, 10);
  const date = mode === `add` ? `${todayDate}` : post.date;

.new-publication__header
  h1= formTitle
  .new-publication__date-form
    h3 Дата публикации
    .new-publication__date-form-division
      .new-publication__date-block
        label(for='new-publication-date' aria-label='Календарь')
        input#new-publication-date(
          type='text'
          name='date'
          placeholder='21.03.2019'
        )
  button.new-publication__button.button.button--colored(type='submit') Опубликовать
