-
  const postTitle = mode === `add` ? `` : post.title;
  const postPicture = mode === `add` ? `` : post.picture;
  const announceText = mode === `add` ? `` : post.announce;
  const fullText = mode === `add` ? `` : post.text;

.new-publication__form.form
  form(action='#' method='get')
    .form__wrapper.form__wrapper--intro
      .form__field
        label
          input(
            type='text'
            placeholder='Заголовок'
            value= postTitle
            required)
      .form__field.form__field--post-image
        label
          input#image-name-field(
            type='text'
            placeholder='Фотография'
            value= postPicture
            readonly)
        .form__image-loader.form__image-loader--publication
          label
            input.visually-hidden(type='file')
            | Обзор
        if mode === `edit`
          button.button.button--transparent Удалить
    if mode === `edit`
      .new-publication__checkbox.new-publication__checkbox--auto
        input(type='checkbox' name='checkbox-auto' id='checkbox-auto')
        label(for='checkbox-auto') Автомобили
    a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
    .form__wrapper.form__wrapper--text
      .form__field.form__field--publication-text
        label
          textarea(rows='1' placeholder='Анонс публикации')= announceText
      .form__field.form__field--publication-text
        label
          textarea(rows='1' placeholder='Полный текст публикации')= fullText
